<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<header>
    <h1>Edit User</h1>
</header>
<main>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
        </tr>
        <tr th:object="${user}">
            <td><span th:text="${user.id}"></span></td>
            <td><span th:text="${user.name}"></span></td>
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.email}"></span></td>
            <td><span th:text="${user.phone}"></span></td>
            <td><span th:text="${user.website}"></span></td>
        </tr>
    </table>
    <form th:action="@{'/edituser/' + ${user.id}}" th:object="${user}" method="post">
        <label>
            Name:
            <input type="text" id="name" th:field="*{name}"/>
        </label>
        <br/>
        <label>
            Username:
            <input type="text" id="username" th:field="*{username}"/>
        </label>
        <br/>
        <label>
            Email:
            <input type="text" id="email" th:field="*{email}"/>
        </label>
        <br/>
        <label>
            Phone:
            <input type="text" id="phone" th:field="*{phone}"/>
        </label>
        <br/>
        <label>
            Website:
            <input type="text" id="website" th:field="*{website}"/>
        </label>
        <br/>
        <button>Edit</button>
    </form>
</main>

</body>
</html>